.App {
  text-align: left;
  font-size: .8em;
}

.title{
  font-size: 1.2em;
}

.showMore{
  height: 3.3em;
  line-height: 1.1em;
  overflow: hidden;
}
.eventDescription{
  max-width: 600px;
}

/* showMoreDiv{
  float: right;
} */
/* .showMore{
  text-decoration: none;
  float: right;
} */

